@model Backend5.Models.ManageViewModels.ChangeNameViewModel
@{
    ViewData["Title"] = "Change Name";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Manage" asp-action="ChangeName" method="post" class="form-horizontal">
    <h4>Change Name Form</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="OldName" class="col-md-2 control-label">@ViewBag.ChangeNameId</label>
        <div class="col-md-10">
            <input asp-for="OldName" class="form-control" value="@ViewBag.ChangeNameId" />
            <span asp-validation-for="OldName" class="text-danger">@ViewBag.ChangeNameId</span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NewName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewName" class="form-control" />
            <span asp-validation-for="NewName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmName" class="form-control" />
            <span asp-validation-for="ConfirmName" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Change name</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}