@model IEnumerable<Backend5.Models.MyTask>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@foreach (var i in Model)
{
    <div class="jumbotron ti">
        <h1>@i.Header</h1>
        <hr />
        <div class="row">
            <div class="col">
                <form asp-controller="FTask" asp-action="IndexId">
                    <button type="submit" class="btn btn-lg btn-primary" asp-route-id="@i.Id">Подробно</button>
                </form>
              
            </div>
            <div class="col text-right pt-2 pr-3">
                <h3>Цена: @i.Price рублей</h3>
            </div>
        </div>
    </div>
}