@model Backend5.Models.MyViewModels.TaskOneIdViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@foreach (var i in Model.L)
{
    <div class="jumbotron ti">
        <h1>@i.Header</h1>
        <hr />
        <div class="row">
            <div class="col">
                <form asp-controller="FTask" asp-action="GetOne">
                    <input asp-for="@Model.Id" value="@i.Id"/>
                    <button type="submit" class="btn btn-lg btn-primary">Подробно</button>
                </form>
              
            </div>
            <div class="col text-right pt-2 pr-3">
                <h3>Цена: @i.Price рублей</h3>
            </div>
        </div>
    </div>
}