@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="UserTypes" asp-action="Index">UserType</a>
<a asp-controller="Cards" asp-action="Index">Cards</a>
<a asp-controller="Comments" asp-action="Index">Comments</a>
<a asp-controller="Geos" asp-action="Index">Geos</a>
<a asp-controller="Insurances" asp-action="Index">Insurances</a>
<a asp-controller="MyTasks" asp-action="Index">MyTasks</a>

<a asp-controller="TaskTypes" asp-action="Index">TaskTypes</a>
<a asp-controller="UserTypes" asp-action="Index">UserTypes</a>